* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background-color: #eaeaea;
}

h1 {
  color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 370px;
  margin-top: 2rem;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
